<h1>Order#order_confirmation</h1>

<p>
  <%= @greeting %>, find me in app/views/order_mailer/order_confirmation.html.erb
</p>

<%= link_to "Confirm", edit_order_confirmation_url(@order.confirmation_token, email: @user.email, order_id: @order.id) %>
