<div class="container hot-trends">
  <h1>Hot trends products</h1>
  <div class="row">
    <div class="col-md-12">
      <%= render partial: "hot_trend_product", locals: {products: @hot_trends} %>
    </div>
  </div>
</div>

<div class="container new-product">
  <h1>New products</h1>
  <%= render @new_products %>
</div>
