<div class="container hot-trends">
  <h1>Hot trends products</h1>
  <div class="row">
    <div class="col-md-12">
      <div class="carousel slide multi-item-carousel" id="theCarousel">
        <div class="carousel-inner">
          <div class="item active">
            <div class="col-md-4 col-xs-4"><a href="javascript:;"><img src="http://placehold.it/350x233/f44336/000000" class="img-responsive"></a></div>
          </div>
          <% @hot_trends.each do |hot_trend| %>
            <%= render partial: "hot_trend_product", locals: {product: hot_trend} %>
          <% end %>
        </div>
        <a class="left carousel-control" href="#theCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
        <a class="right carousel-control" href="#theCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <aside class="col-md-4" style="background-color:green">

    </aside>
    <div class="col-md-8">
      <div class="row filter-bar">
        <div class="filter-title">
          <h2>Filter title</h2>
          <p>102 items found</p>
        </div>
        <span>Order by</span>
        <div class="filter-form pull-right">
            <select class="" name="">
              <option value="">Price low to high</option>
              <option value="">Price high to low</option>
              <option value="">Rating</option>
              <option value="">Alphabet</option>
            </select>
        </div>
      </div>
    </div>
  </div>
</div>
