<div class="card col-sm-6 col-md-3">
  <img src="https://goo.gl/lqY9rA" alt="Avatar" style="width:100%">
    <h4><b>product name</b></h4>
    <p>rating</p>
    <p>100$</p>
    <a href="" class="btn full-width-button">BUY NOW</a>
</div>
