<div class="container ">
  <div class="row">
    <aside class="col-md-4">
      <div class="row">
        <h5>REFINE BY CATEGORY</h5>
        <ul>
          <li>Mobiles (1023)</li>
          <li>Tablets (100)</li>
          <li>Lading phones (1000)</li>
          <li>Modems (1000)</li>
        </ul>
      </div>
      <div class="row">
        <h5>REFINE BY CLASSIFICATION</h5>
        <ul>
          <li>Mobiles (1023)</li>
          <li>Tablets (100)</li>
          <li>Lading phones (1000)</li>
          <li>Modems (1000)</li>
        </ul>
      </div>
    </aside>
    <div class="col-md-8">
      <div class="row filter-bar">
        <div class="filter-title">
          <h2>Filter title</h2>
          <p>102 items found</p>
        </div>
        <div class="filter-form">
          <label for="">Sort by:</label>
          <select class="form-control" name="">
            <option value="">Options 1</option>
            <option value="">Options 2</option>
            <option value="">Options 3</option>
            <option value="">Options 4</option>
          </select>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
